.ListaColaboradores {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title {
    color: #00784D;
    display: flex;
    justify-content: center;
}

.ListaColaboradores .progress {
    display:block;
    appearance: none;
    width: 400px;
}

.ListaColaboradores .progress::-webkit-progress-bar {
    background: #959595;
    border-radius: 20px;
}

.ListaColaboradores .progress::-moz-progress-bar {  
    background: #959595;
    border-radius: 20px;
}

.ListaColaboradores .progress::-webkit-progress-value {
    border-radius: 20px;
    background-color: currentColor;
}

.progress.red{
    color: red;
}
.progress.yellow{
    color: yellow;
}
.progress.orange{
    color: orange;
}
.progress.lightGreen{
    color: lightgreen;
}
.progress.green{
    color: green;
}

Header:hover {
    cursor: pointer;
}